# Virtual Environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# FastAPI / Uvicorn
uvicorn.log
